<h3 class='header-text'>Account</h3>
<div class='default-panel row'>
  <%= form_for(@current_user, url: account_password_path) do |f| %>
    <div class='user-account__left'>
      <h1>Change Password</h1>
    </div>
    <div class='user-account__right'>
      <div class='field'>
        <label for='user_current_password'>Current Password</label>
        <%= f.password_field :current_password %>
      </div>

      <div class='field'>
        <label for='user_password'>New Password</label>
        <%= f.password_field :password %>
      </div>

      <div class='field'>
        <label for='user_password_confirmation'>Confirmation</label>
        <%= f.password_field :password_confirmation %>
      </div>

      <%= f.submit 'Update Password' %>
    </div>
  <% end %>
</div>
