<p id="notice"><%= notice %></p>

<h1 class='header-text'>Listing Orders</h1>

<table class='table'>
  <thead>
    <tr>
      <th>Order ID</th>
      <th>Order Date</th>
      <th>Shipping</th>
      <th>Items</th>
      <th>Units</th>
      <th>Total</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
      <tr>
        <td><%= order.id %></td>
        <td><%= order.created_at.strftime('%d %b %Y')%></td>
        <td><%= order.shipping_method.name %></td>
        <td><%= order.items %></td>
        <td><%= order.units %></td>
        <td><%= number_to_currency order.total_cost %></td>
        <td><%= order.status_name %></td>
        <td><%= link_to 'Order Details', order %></td>
      </tr>
    <% end %>
  </tbody>
</table>
