<div class='user-account__left'>
  <h2>Order #<%= @order.id %></h2>
  <p>Status: <%= @order.shipping_method.name %></p>
  <p>Shipping</p>
  <%= render 'addresses/show_single', address: @order.address %>
  <p><b>Track:</b></p>
  <p><%= @order.tracking_number || 'Not available yet' %></p>
</div>
<div class='user-account__right'>
  <%= render 'cart/table_listing', cart_items: @order.order_items %>
  <div class='order-subtotal'>
    <span><b>Subtotal</b></span>
    <span class='order-subtotal__value'>
      <%= number_to_currency @order.subtotal %>
    </span>
  </div>
  <div class='order-subtotal'>
    <span><b>Shipping</b></span>
    <span class='order-subtotal__value'>
      <%= number_to_currency @order.shipping_cost %>
    </span>
  </div>
  <div class='order-subtotal'>
    <span><b>Total</b></span>
    <span class='order-subtotal__value'>
      <%= number_to_currency @order.total_cost %>
    </span>
  </div>
</div>
