<%= image_tag @current_user.avatar.url, class: 'header-profile-image', size: '40x40' %>

<div class='account-header-menu'>
  <div class='account-header-menu__hello'>
    <span><%= ('Hello, ' + @current_user.first_name).upcase %></span>
  </div>
  <div class="dropdown">
    <a class="dropdown-toggle" data-toggle="dropdown">MY ACCOUNT
    <span class="caret"></span></a>
    <ul class="dropdown-menu">
      <li><%= link_to 'Manage Account', account_path %></li>
      <li><%= link_to 'My Profile', profile_path %></li>
      <li><%= link_to 'Logout', destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
</div>
