<div class='sidebar'>
  <ul class='sidebar-list'>
    <%= sidebar_item 'New Products', new_products_path %>
    <%= sidebar_item 'Top Sellers', top_sellers_path %>
    <%= sidebar_item 'Sale', for_sale_path %>
    <%= sidebar_item 'Gift Certificates', for_sale_path, 'separator' %>
    <%= build_categories %>
  </ul>
</div>
