<!DOCTYPE html>
<html>
<head>
  <title>Electronik</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class='container'>

    <% if notice %>
      <div class="alert alert-warning fade in">
        <a href="javascript:void(0)" class="close" data-dismiss="alert"
          aria-label="close" title="close">×</a>
        <%= notice %>
      </div>
    <% end %>
    <% if alert %>
      <div class="alert alert-danger fade in">
        <a href="javascript:void(0)" class="close" data-dismiss="alert"
          aria-label="close" title="close">×</a>
        <%= alert %>
      </div>
    <% end %>

    <%= render 'layouts/header' %>

    <%= render 'layouts/navbar' %>

    <div class='page-middle row'>
      <div class='col-sm-2'>
        <%= render 'layouts/sidebar' %>
      </div>
      <div class='col-sm-10'>
        <%= yield %>
      </div>
    </div>

  </div>
</body>
</html>
