<!DOCTYPE html>
<html>
<head>
  <title>Electronik</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</head>
<body>
  <div class='container'>
    <%# <p class="notice"><%= notice %1></p> %>
    <%# <p class="alert"><%= alert %1></p> %>

    <%= render 'layouts/header' %>

    <%= render 'layouts/sidebar' %>

    <%= yield %>
  </div>
</body>
</html>
